@import url('./../pages.module.css');

.MenuTextArea {
  height: 35px;
  width: auto;
  resize: none;
  font-size: 16px;
  overflow: hidden;
  font-family: Onest;
  white-space: nowrap;
  background-color: #F9F9F9;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 5px;
  padding: 5px 10px;
}

.MenuTextArea:focus {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  background-color: #EDEDED;
  outline: none;
}

.Card {
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.UserCardImage{
  width: 100%;
  border-radius: 2px;
}

.SecondarySmallButton {
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 5px 10px;
  display: flex;
  width: fit-content;
  font-size: 14px;
  flex-direction: row;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #909090;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
