.productCard {
    width: 129px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 13px 10px;
    font-family: Onest;
    border-radius: 5px;
    height: 100%;
}

.productCard__image{
    background-color:#BDFDB2 ;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCard__image > img {
    max-width: 92px;
    max-height: 92px;
}

.productCard__title {
    font-family: Onest;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.productCard__price{
    margin-top: auto;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    background: #CAF05F;
    font-weight: 400;
    font-size: 14px;
}

.productCard__price > img {
    width: 20px;
    height: 20px;
}

.productCard__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}