/* form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
}

input[type="text"], input[type="number"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"], button {
  padding: 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: #f3f3f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover, button:hover {
  background-color: #caf05f;
}

button {
  background-color: #f3f3f3;
}

button:hover {
  background-color: #caf05f;
} */





.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
}

.input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: #f3f3f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #caf05f;
}