.MenuWrapper {
	background-color: #f9f9f9;
	width: 350px;
	order: 0;
	padding: 25px 15px;
	border: 1px rgba(0, 0, 0, 0.3) solid;
	height: 100vh;
	font-family: Onest;
	gap: 20px;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 2;
	overflow: scroll;
}

.MenuWrapper {
	--sb-track-color: #f9f9f9;
	--sb-thumb-color: #d9d9d9;
	--sb-size: 5px;
}

.MenuWrapper::-webkit-scrollbar {
	width: var(--sb-size);
}

.MenuWrapper::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 6px;
}

.MenuWrapper::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 6px;
}

@supports not selector(::-webkit-scrollbar) {
	.MenuWrapper {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

.Title {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: space-between;
}

.TitleCityWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 12px;
	align-items: baseline;
}

.TitleText {
	width: 100%;
	font-size: 24px;
}

.TitleWrapper {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.TitleCity {
	color: #909090;
	margin-left: 5px;
}

.Logo {
	width: 50px;
	height: 50px;
}

.MinimizeButton {
	border: 1px rgba(0, 0, 0, 0.1) solid;
	background-color: white;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	color: #909090;
	display: inline-flex;
	cursor: pointer;

	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MenuTopButtonsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	gap: 5px
}

.MinimizeButton i {
	font-size: 18px;
	position: relative;
	padding: 15px;
}

.MinimizeButton:hover {
	color: black;
	background-color: #caf05f;
}

.AuthorizationPageContent {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: fit-content;
	font-family: Onest;
	gap: 5%;
}

.AuthorizationDesignCard {
	width: 45%;
	height: 670px;
	background-color: #caf05f;
	padding: 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Onest;
	border-radius: 15px;
}

.AuthorizationInfoWrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.AuthorizationTextareasWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.AuthorizationButtonWrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

.AuthorizationTextareasWrapper p {
	margin-top: 10px;
}

.MenuDropDown {
	resize: none;
	font-size: 16px;
	overflow: hidden;
	font-family: Onest;
	white-space: nowrap;
	background-color: #f9f9f9;
	border: 1px rgba(0, 0, 0, 0.1) solid;
	border-radius: 5px;
	padding: 5px 10px;
}

.MenuDropDown:focus {
	border: 1px rgba(0, 0, 0, 0.1) solid;
	outline: none;
}

.MainMenuButtonsWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.MainMenuSmallButtonsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.MainMenuButton {
	background-color: #caf05f;
	border-radius: 5px;
	color: #212121;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	padding: 10px;
	width: 100%;
	min-width: 110px;
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MenuButton {
	background-color: #f3f3f3;
	border-radius: 5px;
	color: #212121;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	padding: 10px;
	width: 100%;
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MenuButton i {
	font-size: 14px;
	padding-top: 2px;
	color: #292929;
}

.MenuButton:hover {
	background-color: #caf05f;
}


@media (width < 800px) {

	.AuthorizationDesignCard{
	  display: none;
	}
	
	.AuthorizationInfoWrapper{
	  width: 100%;
	}
	
	.AuthorizationTextareasWrapper{
	  width: 100%;
	}
  
	.AuthorizationPageContent{
	  width: 90%;
	}
  
	.MenuWrapper {
	  width: 100%;
	  padding-left: 10px;
	}
  
	.PlaceIconWrapper{
		width: 20%;
	}
  
	.ShopItemCard{
	  width: 26.5%;
	}
  
	* {
	  font-size: 14px;
	}
  
	.UserName{
	  font-size: 16px;
	}
  
	.UserRole{
	  font-size: 14px;
	}
  
	.MinimizeButton i {
	  font-size: 14px;
	  padding: 7px;
	}
  
	.MinimizeButton {
	  width: 30px;
	  height: 30px;
	  border-radius: 5px;
	  color: #909090;
	  display: inline-flex;
	  cursor: pointer;
	
	  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
  
	.MenuTextArea {
	  font-size: 14px;
	}
  
	.MenuDropDown{
	  font-size: 14px;
	}
  }
