@import url('./../pages.module.css');

.UserBalanceWrapper {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.ShopItemsWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
  }
  
  .ShopItemCard{
	background-color: white;
	border: 1px rgba(0, 0, 0, 0.10) solid;
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-radius: 5px;
	padding: 10px;
	align-items: center;
	width: 25%;
	text-align: center;
	cursor: pointer;
  
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .ShopItemCard:hover{
	background-color: #F3F3F3;
  }
  
  .ShopItemUserImage{
	border-radius: 80px;
	border: 1px rgba(0, 0, 0, 0.5) solid;
	width: 60px;
	height: 60px;
	background-color: #CAF05F;
	position: absolute;
  }
  
  .ShopItemAvatarFrame{
	width: 80px;
	z-index: 1;
	position: absolute;
  }
  
  .StopItemsImageWrapper{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50px;
  }
  
  .ShopItemImage{
	height: 50px;
	width: 50px;
  }