.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products__title{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.products__button {
    align-self: flex-start;
}